*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Build artifacts
*.apk
*.aab
output-metadata.json
baselineProfiles/
